@import
	url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap')
	;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #222;
}

.logo {
	padding-left: 15px;
	color: #e49502;
	font-family: 'Ubuntu', sans-serif;
}

.nav {
	position: sticky;
	background-color: #ffffff;
	top: 0;
	left: 0;
	right: 0;
	transition: all .3s ease-in-out;
}

.nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

nav ul {
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}

.nav a {
	text-decoration: none;
	margin: 45px;
}

.search-textBox {
	padding: 4px;
	margin: 10px;
}

ul button {
	width: 60px;
	height: 45px;
	font-size: 40px;
	color: rgb(129, 129, 129);
	border: none;
	background-color: transparent;
	transition: all 0.2s;
}

ul button:hover {
	color: royalblue;
	font-size: 55px;
	cursor: pointer;
}

.hero-container {
	width: fit-content;
	margin: 10px auto;
	display: flex;
	margin: 0px 400px;
	align-content: stretch;
	justify-content: center;
}

.hero {
	background: rgb(80, 116, 144);
	background: linear-gradient(90deg, rgb(234 200 136) 0%,
		rgba(184, 217, 230, 1) 50%, rgb(210, 182, 119) 100%);
}

.add-post-container {
	display: grid;
	grid-template-columns: 1fr 7fr;
	grid-auto-rows: (60px, auto);
	gap: 10px;
	padding: 17px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 2px black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.post-button {
	grid-column: 2;
	grid-row: 2;
	font-size: 20px;
	width: 100px;
	background-color: rgb(251, 159, 13);
	border: 1px solid #c1c1c1;;
	border-radius: 10px;
}

.profile-image {
	grid-column: 1;
	grid-row: 1;
}

.post-textBox {
	grid-column: 2;
	grid-row: 1;
	font-size: 20px;
	background-color: #ebebeb;
	resize: none;
	color: rgb(85, 85, 85);
	border: 20px solid f0f0f0;
	border-color: #f0f0f0;
	border-radius: 10px;
	transition: all 0.2s;
}

.add-photos-button {
	grid-column: 2;
	grid-row: 2;
	font-size: 20px;
	width: 50px;
	height: 25px;
	background-color: rgb(235, 85, 85);
	border: 1px solid rgb(98, 33, 33);
	border-radius: 10px;
}

.post-textBox:focus {
	outline: 0;
	border: 2px solid;
	border-color: rgb(182, 182, 182);
	box-shadow: 0px 0px 5px rgb(105, 105, 105);
}

.post-textBox:hover {
	outline: 0;
	border: 2px solid;
	border-color: rgb(182, 182, 182);
	box-shadow: 0px 0px 5px rgb(105, 105, 105);
}

.add-photos-button, .post-button {
	grid-area: photo;
	cursor: pointer;
}

.search-textBox {
	background-color: #ebebeb;
	color: rgb(85, 85, 85);
	border: 20px solid f0f0f0;
	border-style: solid;
	border-color: #f0f0f0;
	border-radius: 10px;
	height: 30px;
	width: 300px;
	transition: all 0.2s;
}

.search-textBox:focus {
	outline: 0;
	border: 2px solid;
	border-color: rgb(182, 182, 182);
	box-shadow: 0px 0px 3px rgb(105, 105, 105);
}

.search-textBox:hover {
	outline: 0;
	border: 2px solid;
	border-color: rgb(182, 182, 182);
	box-shadow: 0px 0px 5px rgb(105, 105, 105);
}

.add-post-container {
	display: grid;
	grid-template-columns: 1fr 7fr 1fr;
	grid-auto-rows: (60px, auto);
	grid-template-areas: "img post post" "x photo button";
	gap: 10px;
	padding: 17px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 2px black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.a-post-container {
	display: block;
	grid-auto-rows: (60px, auto);
	padding: 17px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 0px 2px #163248;
	margin-top: 25px;
	margin-bottom: 10px;
}

.a-post-container .profile-image {
	grid-column: 1;
	grid-row: 1;
}

.a-post-container .username-date {
	grid-column: 2;
	grid-row: 1;
	line-height: 8px;
	margin-bottom: 20px;
}

.a-post-container .post-content {
	margin-bottom: 12px
}

.post-comment-textBox {
	display: flex;
	margin: 12px 0 12px;
	gap: 4px;
	align-items: center;
}

.a-post-container .numberOf-like-comment {
	border-bottom: 1px solid lightgray;
}

.a-post-container .like-comment-button {
	grid-column: 1/3;
	grid-row: 4;
}

.post-profile-image {
	grid-column: 1;
	grid-row: 5;
}

.write-comment {
	grid-column: 2/3;
	grid-row: 5;
	background-color: #fff;
	resize: none;
	color: rgb(85, 85, 85);
	border: 1px solid #f0f0f0;
	border-color: #dadada;
	border-radius: 10px;
	width: 100%;
	margin-left: 12px;
	margin-right: 12px;
	height: 38px;
}

.comment-container {
	background-color: #b7b7b759;
	border-radius: 15px;
	padding: 2px;
	margin: 8px 0;
	border-bottom: 1px solid #adadad3d;
}

.write-comment:focus {
	outline: 0;
	border: 2px solid;
	border-color: rgb(182, 182, 182);
	box-shadow: 0px 0px 3px rgb(105, 105, 105);
}

.user-comment-textBox {
	background-color: #b9b9b9;
	border-radius: 15px;
	min-height: 30px;
	padding: 5px;
}